
@font-face {
    font-family: 'Biennale-Book';
    src: url('./fonts/Biennale Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Biennale-Regular';
    src: url('./fonts/Biennale Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Biennale-SemiBold';
    src: url('./fonts/Biennale SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    --fontLight: Biennale-Book, Arial, sans-serif;
    --fontNormal: Biennale-Regular, Arial, sans-serif;
    --fontBold: Biennale-SemiBold, Arial, sans-serif;
    --colorYellow: #fc0;
    --colorMagenta: #c02485;
    --colorGreen: #31bf24;
    --colorBlue: #009bc9;
    font-family: var(--fontNormal);
    background-color: #dadada;
}


.cards_container {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-template-rows:
        250px auto auto auto auto;
    gap: 0.5em;
}


.card {
    padding: 1em;
    display: grid;
    grid-row: span 5;

    grid-template-rows: subgrid;
    position: relative;



    background-color: rgb(255, 255, 255);
}

.card__badgebox {
    display:flex;
    flex-direction: column;
    position: absolute;

    top: 0;
    left: 0;
    z-index: 67;
}

.card__badge {
    padding: 0;
}

.card__badge--purple {
    background-color: var(--colorMagenta);
    color: white;
    font-size: 0.8rem;
    padding: 0.2em 0.5em;
    border-radius: 0 4px 4px 0;
}

.card__badge--purple_outline {

    color: var(--colorMagenta);
    border: 1px solid var(--colorMagenta);
    font-size: 0.8rem;
    padding: 0.2em 0.5em;
    border-radius: 0 4px 4px 0;
}



.card__title {
    text-align: start;
    font-size: 1.5rem;
    /* font-weight: bold; */
    font-family: var(--fontBold);
    margin: 0 0;
    padding: 0;
}

.card__image {
    justify-self: center;
}

.card__image img {

    padding: 1rem;
    /* height: 220px; */
}


.card__desc {
    /* padding: 0 0.4em ; */
    /* justify-self: stretch; */
    display: flex;
    flex-direction: column;
}

.card__attr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.attr__value {
    font-weight: bold;
}


.card__info {
    /* justify-self: stretch; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.old__discount {
    color: var(--colorMagenta);
    font-size: 0.8rem;

}

.old__price {
    font-size: 0.8rem;
    color: #aaa;
    text-decoration: line-through;
    text-align: end;
}


.price__dph {
    font-size: inherit;
    font-weight: bold;
    color: var(--colorMagenta);
}


.price__nodph {
    font-size: 0.8rem;
    color: #aaa;
    text-align: end;
}





.info__price {
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    line-height: 0.85em;
}

.info__stock {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    justify-content: flex-end;
}

.stock__amount {
    color: var(--colorGreen);
}

.stock__pieces {
    font-weight: bold;
}


.stock__day {
    font-weight: bold;
}






.card__menu {
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-rows: 1fr;
    background-color: rgb(216, 215, 215);
    justify-items: stretch;
    align-items: center;
}

.menu__icons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1em;
    gap: 2em;
}

p {
    margin: 0;
    padding: 0;
}

.menu__button {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    color: white;
    text-align: center;
    /* font-weight: bold; */
    font-size: 1.2rem;
    font-family: var(--fontBold);





    padding: 0.7em;
    /* margin-right: 1em; */
    margin: 0.7em 0.7em;

    background-color: #31bf24;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}